node_modules
out

!pnpm-workspace.yaml
!pnpm-lock.yaml
!package.json
!tsconfig.json
!src/**/*.ts
!test/**/*.ts
!LICENSE

!language-configuration.json
!syntaxes/eure.tmLanguage.json
!syntaxes/eure.tmLanguage.eure
!test/fixtures/grammars/*.json

*.vsix
*.wasm

# copied from ../../assets
assets/eure-icon.png
