node_modules
out

!pnpm-workspace.yaml
!pnpm-lock.yaml
!package.json
!tsconfig.json
!src/**/*.ts
!LICENSE

!language-configuration.json
!syntaxes/eure.tmLanguage.json

*.vsix
*.wasm

# copied from ../../assets
assets/eure-icon.png
