*
!*/

/target

!.gitignore
!README.md
!docs/**/*.md

!crates/**/*.rs
!Cargo.toml
!Cargo.lock

!crates/eure-parol/eure.par

!example.eure

!playground/**/*.json
!playground/**/*.js
!playground/**/*.ts
!playground/**/*.html
!playground/**/*.md
!playground/**/.gitignore
