*
!*/

/target

!.gitignore
!LICENSE-*
!README.md
!CLAUDE.md
!AGENTS.md
!docs/**/*.md
!docs/**/*.eure

!crates/**/*.rs
!Cargo.toml
!Cargo.lock
!.cargo/config.toml
!Makefile

!test-suite/**/*.eure
!test-suite/**/*.rs

!crates/eure-parol/eure.par

!examples/**/*.rs
!examples/**/*.par
!examples/**/.gitignore

!Eure.eure
!example.eure
!example.schema.eure
!eure-schema.schema.eure
!assets/**/*.eure

!playground/**/*.json
!playground/**/*.js
!playground/**/*.ts
!playground/**/*.html
!playground/**/*.md
!playground/**/.gitignore

!.github/workflows/**/*.yml
