*
!*/

/target

!.gitignore
!README.md
!CLAUDE.md
!docs/**/*.md

!crates/**/*.rs
!test-suite/**/*.rs
!test-suite/**/*.eure
!Cargo.toml
!Cargo.lock

!crates/eure-parol/eure.par

!example.eure
!example.schema.eure
!eure-schema.schema.eure

!playground/**/*.json
!playground/**/*.js
!playground/**/*.ts
!playground/**/*.html
!playground/**/*.md
!playground/**/.gitignore
