@import "tailwindcss";
@source "./src/**/*.{rs,html,css}";

@layer base {

  html,
  body {
    @apply h-full m-0 p-0;
  }

  .overflow-auto {
    @apply scrollbar-stable;
  }
}

@utility scrollbar-stable {
  scrollbar-gutter: stable;
}
