name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  # Cancel in progress workflows if a new workflow is started for the same pull request
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-stable-${{ hashFiles('**/Cargo.toml') }}
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Format Check
        run: cargo fmt --check
      - name: Dioxus deps
        run: sudo apt-get update && sudo apt-get install -y libwebkit2gtk-4.1-dev libgtk-3-dev libasound2-dev libudev-dev libayatana-appindicator3-dev libxdo-dev libglib2.0-dev
      - name: Clippy Check
        run: cargo clippy --locked --all-targets --all-features -- -D warnings
      - name: Test
        run: cargo test --locked --all-targets --all-features
      - name: Eure test suite
        run: cargo run -p test-suite --locked
